<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit Profile</title>
</head>



<link rel="stylesheet" href="/css/style.css">
<title>Edit Profile</title>
</head>

<body>
    <!-- sidebar sction -->
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list">
                    <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Eksplorasi</span></a>
                </li class="list">
                <li>
                    <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list active">
                    <a href="/parent/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>
                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- main section -->
    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">
            <p class="page-map mb-4">Profil <span class="page-map-icon">></span> <span class="current-page">Edit Profil</span>
            </p>

            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group mb-3">
                                    <% if (parent.avatar === undefined || parent.avatar === null) { %>
                                    <img src="/img/round-avatar-default.png" class="rounded-circle" alt="">                                    
                                     <% } else { %>                                      
                                    <img src="<%=parent.avatar%>" class="rounded-circle" alt="">  
                                    <% } %>                                   
                                </div>
                                <div class="form-group mt-3">                                    
                                    <button type="submit" id="save" class="akhir-kerja btn-primary form-control btn mb-2">
                                        Simpan</button>
                                    <a href="/parent/profil" type="button"
                                        class="btn btn-outline-secondary form-control btn mb-3">Batal</a>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input name="id" id="id" type="hidden" value="<%= parent.id %>">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Link Foto Profil</label>
                                    <input type="text" class="form-control" id="avatar" name="avatar"
                                        placeholder="Link Foto Profil" value="<%=parent.avatar%>">
                                    <small id="avatarcheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nama</label>
                                    <input type="text" class="form-control" id="nama" name="nama"
                                        placeholder="Nama Anda" value="<%= parent.nama %>">
                                    <small id="namacheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="contoh : namakamu@gmail.com" value="<%= parent.email %>">
                                    <small id="emailvalid" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Link WhatsApp</label>
                                    <input type="text" class="form-control" id="no_telfon" name="no_telfon"
                                        placeholder="Link WhatsApp Anda" value="<%= parent.no_telfon %>">
                                    <small id="wacheck" style="color: red;">
                                    </small>
                                </div>

                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="provinsi-list">Provinsi</label>
                                    <select class="form-control" id="provinsi-list" required>
                                        <option selected>--<%= parent.provinsi %>--</option>
                                    </select>
                                </div>
                                <input name="provinsi" type="text" id="destination-provinsi" hidden>
                                <input id="prov_temp" type="hidden" value="<%= parent.provinsi %>">

                                <div class="form-group">
                                    <label for="kabupaten-list">Kota/Kabupaten</label>
                                    <select class="form-control" id="kabupaten-list" disabled>
                                        <option selected>--<%= parent.kabupaten %>--</option>
                                    </select>
                                </div>
                                <input name="kabupaten" type="text" id="destination-kabupaten" hidden>
                                <input id="kab_temp" type="hidden" value="<%= parent.kabupaten %>">

                                <div class="form-group">
                                    <label for="kecamatan-list">Kecamatan</label>
                                    <select class="form-control" id="kecamatan-list" disabled>
                                        <option selected>--<%= parent.kecamatan %>--</option>
                                    </select>
                                </div>
                                <input name="kecamatan" type="text" id="destination-kecamatan" hidden>
                                <input id="kec_temp" type="hidden" value="<%= parent.kecamatan %>">

                                <div class="form-group">
                                    <label for="kelurahan-list">Kelurahan</label>
                                    <select class="form-control" id="kelurahan-list" disabled>
                                        <option selected>--<%= parent.kelurahan %>--</option>
                                    </select>
                                </div>
                                <input name="kelurahan" type="text" id="destination-kelurahan" hidden>
                                <input id="kel_temp" type="hidden" value="<%= parent.kelurahan %>">

                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Alamat</label>
                                    <textarea class="form-control" id="alamat" name="alamat"
                                        rows="3"><%= parent.alamat %></textarea>
                                    <small id="alamatcheck" style="color: red;">
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12 mt-3 d-flex flex-row-reverse">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script src="/js/edit_parent.js"></script>
</body>

</html>