<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/kegiatan_parent.css">

    <title>GuruKu - Dashboard</title>
</head>

<body>

    <!-- sidebar sction -->
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list">
                    <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Eksplorasi</span></a>
                </li>
                <li class="list active">
                    <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list">
                    <a href="/parent/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>

                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container-kegiatan-parent">
            <h3 class="mb-4 page-title">Daftar Kegiatan Belajar Anak</h3>
            <!-- default view -->
            <% if (!tasks[0]) { %>
            <br><br>
            <div class="default-view mx-auto">
                <img class="mb-4" src="/img/kegiatan-bg.png" alt="">
                <p class="mb-5">Belum ada daftar kegiatan belajar yang dibuat oleh guru</p>
            </div>
            <% } %>

            <div class="card-deck row row-cols-1 row-cols-md-3">
                <% for( const task of tasks) { %>
                <div class="col col-lg-6 col-md-12 col-sm-12 card mb-4">
                    <div class="kegiatan-card">
                        <div class="row mb-4 info-kegiatan">
                            <div class="col-3">
                                <img src="<%= task.Teacher.avatar %> " alt="">
                            </div>
                            <div class="col col-4 vertical-center">
                                <h5 class="card-title mb-3"><%= task.Teacher.nama%> </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%= task.Teacher.mata_pelajaran %></h6>
                            </div>
                            <div class="col col-5 schedule vertical-center">
                                <h6 class="card-subtitle mb-2 text-muted text-with-icon"><i
                                        class="ri-calendar-2-line mr-3"></i> <%= task.hari%></h6>
                                <h6 class="card-subtitle mb-2 text-muted text-with-icon"><i
                                        class="ri-time-line mr-3"></i><%= task.waktu%> WIB</h6>
                            </div>
                        </div>

                        <div class="col-12 mb-2">
                            <h5 class="card-title mb-2">Laporan Kegiatan Belajar</h5>
                            <a href="<%= task.report_link%>" class="card-subtitle mb-5">Buka
                                Laporan</a>
                        </div>
                    </div>
                </div>
                <% } %>


            </div>
        </div>




        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="services">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="d-flex justify-content-center">Maaf</h5>
                        <br><br><br>
                        <h7 class="d-flex justify-content-center m-3">Anda Belum Memiliki Murid</h7>
                        <a class="btn border border-primary d-flex justify-content-center" href="/parent/dashboard">
                            Kembali Ke Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>
        <%# if(orders == ""){ %>
        <!-- <h1>Kegiatan Ada</h1> -->

        <!-- <script type="text/javascript">
      $(window).on('load', function () {
        $('#services').modal('show');
      });
    </script> -->
        <%#  }%>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>