<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard_parent.css">

    <!-- Fontawesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Eksplorasi</title>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>



<body>
    <!-- sidebar sction -->
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list active">
                    <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list">
                    <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Eksplorasi</span></a>
                </li class="list">
                <li>
                    <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list">
                    <a href="/parent/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>
                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- main section -->
    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">

            <!-- menampilkan list order -->
            <h3 class="mb-4">Daftar Negosiasi</h3>

            <!-- default list view -->
            <% const foundPending = orders.some(obj => obj.status === "pending"); %>
            <% if (!foundPending) { %>
            <div class="default-view mx-auto">
                <img class="mb-5" src="/img/default-bg.png" alt="">

                <p class="mb-4">Belum ada negosiasi yang dilakukan</p>
                <a href="/parent/eksplorasi" type="button" class="btn btn-default btn-lg">Temukan
                    Guru</a>
            </div>
            <% } %>

            <!-- negosiasi card list -->
            <div id="pending-list" class="row row-cols-1 row-cols-md-2">
                <% for(const order of orders){ %>
                <% if (order.status === "pending") { %>
                <!-- card order dengan status pending -->
                <div class="col col-lg-4 col-md-6 col-sm-12 mb-1">
                    <div class="card teacher-list">
                        <img src="<%= order.Teacher.avatar %> " class="card-img-top" alt="avatar.png">
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= order.Teacher.nama %></h5>
                            <p><%= order.Teacher.mata_pelajaran %></p>
                            <a href="<%= order.Teacher.no_telfon %> " type="button" class="btn btn-outline-info">Kontak Guru</a>

                            <hr>

                            <h5 class="mb-4">Keputusan Negosiasi</h5>
                            <button class="btn btn-outline-secondary btn-batal" data-toggle="modal" data-target="#batal">Batal</button>
                            <button onclick="setuju('<%= order.id %>')" class="btn btn-primary">Setuju</button>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>

            </div>
            <br>


            <!-- Hired card list -->
            <h2 class="mb-4"> Guru yang Disewa</h2>
            <!-- default list view -->
            <% const foundHired = orders.some(obj => obj.status === "hired"); %>
            <% if (!foundHired) { %>
            <div class="default-view mx-auto">
                <img class="mb-5" src="/img/default-bg.png" alt="">

                <p class="mb-4">Belum ada guru yang disewa</p>
                <a href="/parent/eksplorasi" type="button" class="btn btn-default btn-lg">Temukan
                    Guru</a>
            </div>
            <% } %>

            <div id="hired-list" class="row row-cols-1 row-cols-md-2">
                <% for(const order of orders){ %>
                <% if (order.status === "hired") { %>
                <!-- card order dengan status hired -->
                <div class="col col-lg-4 col-md-6 col-sm-12 mb-1">
                    <div class="card teacher-list">
                        <img src="<%= order.Teacher.avatar %> " class="card-img-top" alt="avatar.png">
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= order.Teacher.nama %></h5>
                            <p><%= order.Teacher.mata_pelajaran %></p>
                            <br>
                            <a href="<%= order.Teacher.no_telfon %> " type="button" class="btn btn-outline-info mb-3"
                                >Kontak Guru</a>
                            <button data-order="<%= order.id %>" data-teacher="<%= order.TeacherId%>"
                                class="akhir-kerja btn-outline-dark">
                                Akhiri Kerjasama</button>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <br>


            <h2 class="mb-4">Riwayat</h2>

            <!-- default list view -->
            <% const foundCompleted = orders.some(obj => obj.status === "completed"); %>
            <% if (!foundCompleted) { %>
            <div class="default-view mx-auto">
                <img class="mb-5" src="/img/default-bg.png" alt="">

                <p class="mb-4">Belum ada riwayat</p>
                <a href="/parent/eksplorasi" type="button" class="btn btn-default btn-lg">Temukan
                    Guru</a>
            </div>
            <% } %>

            <!-- completed card list -->
            <div id="completed-list" class="row row-cols-1 row-cols-md-2">
                <% for(const order of orders){ %>
                <% if (order.status === "completed") { %>
                <!-- card order dengan status hired -->
                <div class="col col-lg-4 col-md-6 col-sm-12 mb-1">
                    <div class="card teacher-list">
                        <img src="<%= order.Teacher.avatar %> " class="card-img-top" alt="avatar.png">
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= order.Teacher.nama %></h5>
                            <p><%= order.Teacher.mata_pelajaran %></p>
                            <br>
                            <a href="<%= order.Teacher.no_telfon %> " type="button" class="btn btn-outline-info mb-3"
                                >Kontak Guru</a>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <h3 class="modal-title">Bagaimana penilaian kamu?</h3>
                    <div class="modal-body text-center">
                        <!-- rating -->
                        <form>
                            <input type="hidden" id="OrderId" name="OrderId">
                            <input type="hidden" id="teacher" name="teacher">
                            <div class="form-group rating">
                                <label>
                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <small id="ratecheck" style="color: red;">
                                </small>
                            </div>
                            <div class="form-floating">
                                <label for="floatingTextarea2">Rincian ulasan</label><br>
                                <small id="comcheck" style="color: red;">
                                </small>
                                <textarea class="form-control" id="comment" name="comment"
                                    placeholder="Leave a comment here" style="height: 100px"></textarea>

                            </div>
                            <button id="kirim-ulasan" type="submit" class="btn btn-primary mt-3">OK</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- modal section for pending list -->
    <% for(const order of orders){ %>
    <% if (order.status === "pending") { %>
    <div class="modal fade" id="batal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content rounded-3">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h3 class="modal-title">Apa kamu yakin?</h3>
                <div class="modal-body text-center">
                    <h3 class="modal-h3 mb-5">Konfirmasi pilihanmu untuk melanjutkan pembatalan</h3>
                    <p>
                        <a type="button" class="btn btn-outline-secondary btn-batal">Batal</a>
                        <a type="button" class="btn btn-primary"
                            style="width: 45%; margin-left: 5px; color:#FFFF; background-color: #07689F;"
                            onclick="cancelled('<%= order.id %>')" href="/parent/dashboard">Setuju</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>



    <!-- modal section for hired list-->
    <% for(const order of orders){ %>
    <% if (order.status === "hired") { %>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h3 class="modal-title">Apa kamu yakin?</h3>
                <div class="modal-body text-center">
                    <h6 class="modal-h3 mb-5">Konfirmasi pilihanmu untuk akhiri kerjasama</h6>
                    <p style="display: flex;">

                        <a type="button" class="btn btn-outline-primary btn-batal"
                            style="width: 45%; margin-right: 5px; color:#07689F; border-color: #07689F;"
                            href="">Batal</a>
                        <a type="button" class="btn btn-primary"
                            style="width: 45%; margin-left: 5px; color:#FFFF; background-color: #07689F;"
                            onclick="completed('<%= order.id %>')" href="/parent/dashboard">Akhiri</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>


    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>

    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script src="/js/dashboard_parent.js"></script>
</body>

</html>