<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Welcom to Guruku</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="/css/styles.css" rel="stylesheet" /> -->
    <link href="/css/auth.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="container justify-content-between">

        <div class="col-5 bg-img">
            <img src="/img/signup-bg.png" />
        </div>
        <div class="col-6 mt-auto main-content">
            <div class="row justify-content-center">
                <img class="logo-login" src="/img/logo-dark.png" alt="..." />
            </div>
            <div class="row">

                <div class="card border-0 shadow rounded-3 my-3">
                    <div class="card-body p-sm-3 my-5 mx-3">
                        <h3 class="card-title text-center mb-4 fs-3">Daftar </h3>

                        <form method="POST" action="/register">
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Nama</label>
                                <input type="text" class="form-control" name="nama" id="nama" placeholder="nama kamu">
                                <small id="namacheck" style="color: red;">
                                </small>
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" name="email" id="email" autocomplete="off"
                                    placeholder="contoh: namakamu@gmail.com">
                                <small id="emailvalid" style="color: red;">
                                </small>
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" name="password" id="password" value=""
                                    placeholder="password">
                                <small id="passcheck" style="color: red;">
                                </small>
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputEmail1">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm_password" id="conpassword"
                                    value="" placeholder="tulis lagi password kamu">
                                <small id="conpasscheck" style="color: red;">
                                </small>
                            </div>

                            <div class="form-outline"></div>
                            <label for="inputRoles" class="col-form-label">Role</label>
                            <div class="col-sm-10"></div>
                            <div class="form-group me-4">
                                <div class="form-check form-check-inline ">
                                    <input type="radio" id="customRadioInline1" name="role" value="parent"
                                        class="form-check-input">
                                    <label class="custom-control-label" for="customRadioInline1">Orang Tua</label>
                                </div>
                                <div class="form-check form-check-inline ">
                                    <input type="radio" id="customRadioInline2" name="role" value="teacher"
                                        class="form-check-input">
                                    <label class="custom-control-label" for="customRadioInline2">Guru Privat</label>
                                </div>
                                <div class="form-group mb-4">
                                    <small id="rolecheck" style="color: red;">
                                    </small>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="provinsi-list">Provinsi</label>
                                    <select class="form-control" id="provinsi-list" required>
                                        <option disabled selected hidden>provinsi kamu</option>
                                    </select>
                                    <small id="provcheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="provinsi" type="text" id="destination-provinsi" hidden>

                                <div class="form-group mb-3">
                                    <label for="kabupaten-list">Kota/Kabupaten</label>
                                    <select class="form-control" id="kabupaten-list" disabled>
                                        <option disabled selected hidden>kota/kabupaten kamu</option>
                                    </select>
                                    <small id="kabcheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="kabupaten" type="text" id="destination-kabupaten" hidden>

                                <div class="form-group mb-3">
                                    <label for="kecamatan-list">Kecamatan</label>
                                    <select class="form-control" id="kecamatan-list" disabled>
                                        <option disabled selected hidden>kecamatan kamu</option>
                                    </select>
                                    <small id="keccheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="kecamatan" type="text" id="destination-kecamatan" hidden>

                                <div class="form-group mb-3">
                                    <label for="kelurahan-list">Kelurahan</label>
                                    <select class="form-control" id="kelurahan-list" disabled>
                                        <option disabled selected hidden>kelurahan kamu</option>
                                    </select>
                                    <small id="kelcheck" style="color: red;">
                                    </small>
                                </div>
                                <input name="kelurahan" type="text" id="destination-kelurahan" hidden>

                            </div>

                            <!-- Check -->
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="centang" value=""
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Saya setuju dengan kebijakan dan syarat privasi
                                </label>
                                <small id="endcheck" style="color: red;">
                                </small>
                            </div>
                            <br><br>
                            <!-- Submit Button -->
                            <div class="text-center mb-3">
                                <button type="submit" id="submitbtn" class="btn btn-primary">Daftar</button>
                            </div>

                            <!-- Link -->
                            <br>
                            <div class="text-center mb-3">
                                <p>Sudah memiliki akun? <a class="text" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">Masuk</a></p>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content rounded-3">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <h3 class="modal-title">Masuk</h3>
                                        <div class="modal-body text-center">
                                            <p>
                                                <a class="btn btn-login-parent" href="/parent/login">Masuk
                                                    sebagai orang tua</a>
                                            <p></p>
                                            <a class="btn btn-login-teacher" href="/teacher/login">
                                                Masuk
                                                sebagai guru</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <!-- Core theme JS-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="/js/register.js"></script>
</body>

</html>


</body>


</html>