div.dashboard-parent {
    padding: 200px;
}

.col-lg-4 .teacher-list img {
    margin: 4% auto;
    width: 60%;
    height: 60%;
    max-height: none;
    min-width: none;
    border-radius: 50% !important;
}

h3 {
    font-weight: 600;
}

a {
    text-decoration: none !important;
    color: #333333;
}

a:hover,
a:visited {
    color: #333333;
}


/* rating */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #d8d8d8;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #ffd233;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #d8d8d8;
    text-shadow: 0 0 5px #ffd233;
}