@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


/* ulasan */

#ulasan h3 {
  margin-left: 3rem;
  margin-top: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #333333;
}

#ulasan2 h3 {
  /* margin-left: 3rem; */
  /* margin-top: 2rem; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #333333;
}

#ulasan2 p{
  font-family: Poppins;
  color: #666666;
}

#ulasan img {
  width: 562px;
  height: 250px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ulasan p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

.checked {
  color: #ffd233;
  font-size: 35px;
}
.unchecked {
  color:#d8d8d8;
  font-size: 35px;
}
