<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <title>GuruKu - Kegiatan</title>
</head>

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 89da26d1f5d3a2140641b02520881d97c48a1bcf
<nav id="sidebar" class="active">
    <div class="p-4">
        <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
        <ul id="sidebar-list" class="components mb-5">
            <li class="list">
                <a href="/teacher/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                    <span class="sidebar-text">Dashboard</span></a>
            </li>
            <li class="list active">
                <a href="/teacher/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                    <span class="sidebar-text">Kegiatan</span></a>
            </li>
            <li class="list">
                <a href="/teacher/ulasan"><i class="ri-chat-quote-line mr-3 sidebar-link"></i>
                    <span class="sidebar-text">Ulasan</span></a>
            </li class="list">
            <li class="list">
                <a href="/teacher/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                    <span class="sidebar-text">Profil</span></a>
            </li>

            <br><br><br><br><br><br><br><br>
            <li class="list">
                <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                    <span class="sidebar-text">Keluar</span></a>
            </li>
        </ul>
    </div>
</nav>

<div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
    <div class="container">
        <div class="row">
            <h3 class="mb-5 col-12 page-title text-center">Edit kegiatan</h3>
            <hr> <hr>
            <div class="row pl-3 ">
                <form>
                    <input type="hidden" id="task_id" name="task_id" value="<%= task.id %>">
                    <div class="form-row form-kegiatan">
                        <div class="form-group pr-3 col-md-6 mb-3">
                            <label for="parent_name">Nama Orang Tua</label>
                            <select id="ParentId" name="ParentId" class="form-control">
                                <option selected value="<%= task.ParentId %>">--<%= task.Parent.nama %>--</option>
<<<<<<< HEAD
=======
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/teacher/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list active">
                    <a href="/teacher/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list">
                    <a href="/teacher/ulasan"><i class="ri-chat-quote-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Ulasan</span></a>
                </li class="list">
                <li class="list">
                    <a href="/teacher/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>

                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Logout</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">
            <div class="row">
                <h3 class="mb-4 col-12">Edit Kegiatan</h3>

                <form>
                    <input type="hidden" id="task_id" name="task_id" value="<%= task.id %>">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="parent_name">Nama Orang Tua</label>
                            <select id="ParentId" name="ParentId" class="form-control">
                                <option selected value="<%= task.ParentId %>" >--<%= task.Parent.nama %>--</option>
>>>>>>> 7750b11caa5d55457399379232112fe0c34090fe
=======
>>>>>>> 89da26d1f5d3a2140641b02520881d97c48a1bcf
                                <% for(const order of orders){ %>
                                <option value="<%= order.Parent.id %>"><%= order.Parent.nama %> </option>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-group pr-4 col-md-6">
                            <label for="hari">Mata Pelajaran</label>
                            <input value="<%= task.mata_pelajaran %>" id="mata_pelajaran" name="mata_pelajaran"
                                type="text" class="form-control">
                            <small id="mapelcheck" style="color: red;">
                            </small>
                        </div>

                        <div class="form-group pr-4 col-md-6 mb-3">
                            <label for="option-hari">State</label>
                            <select id="input_hari" name="input_hari" class="form-control">
                                <option selected hidden value="<%= task.hari %>">--<%= task.hari %>--</option>
                                <option value="Senin">Senin</option>
                                <option value="Selasa">Selasa</option>
                                <option value="Rabu">Rabu</option>
                                <option value="Kamis">Kamis</option>
                                <option value="Jumat">Jumat</option>
                                <option value="Sabtu">Sabtu</option>
                            </select>
                        </div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 89da26d1f5d3a2140641b02520881d97c48a1bcf
                        <div class="form-group pr-4 col-md-6">
                            <label for="input_waktu">Waktu (WIB)</label>
                            <input name="input_waktu" type="text" class="form-control" id="input_waktu"
                                value="<%= task.waktu %>">
                            <small id="waktucheck" style="color: red;">
<<<<<<< HEAD
=======
                        <div class="form-group col-md-6">
                            <label for="input_waktu">Waktu (WIB)</label>
                            <input name="input_waktu" type="text" class="form-control" id="input_waktu"
                                value="<%= task.waktu %>">
                            <small id="waktucheck" style="color: red;" >
>>>>>>> 7750b11caa5d55457399379232112fe0c34090fe
=======
>>>>>>> 89da26d1f5d3a2140641b02520881d97c48a1bcf
                            </small>
                        </div>
                        <div class="form-group pr-4 col-12">
                            <label for="report_link">Laporan Kegiatan Belajar</label>
                            <input name="report_link" type="text" class="form-control" id="report_link"
                                value="<%= task.report_link %>">
<<<<<<< HEAD
<<<<<<< HEAD
                            <small id="linkcheck" style="color: red;">
=======
                            <small id="linkcheck" style="color: red;" >
>>>>>>> 7750b11caa5d55457399379232112fe0c34090fe
=======
                            <small id="linkcheck" style="color: red;">
>>>>>>> 89da26d1f5d3a2140641b02520881d97c48a1bcf
                            </small>
                        </div>
                    </div>

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                    
                    <a type="button" class="btn btn-outline-secondary mr-2" href="/teacher/kegiatan">Batal</a>
=======
>>>>>>> 7750b11caa5d55457399379232112fe0c34090fe
=======
                    
                    <a type="button" class="btn btn-outline-secondary mr-2" href="/teacher/kegiatan">Batal</a>
>>>>>>> 06a05889ee07292aabbb7257c8732663326e4c12
=======
                    
                    <a type="button" class="btn btn-outline-secondary mr-2" href="/teacher/kegiatan">Batal</a>
>>>>>>> 89da26d1f5d3a2140641b02520881d97c48a1bcf
                    <button type="submit" id="save-kegiatan" class="btn btn-primary">Update<ton>
                </form>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="services">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="d-flex justify-content-center">Maaf</h5>
                    <br><br><br>
                    <h7 class="d-flex justify-content-center m-3">Anda Belum Memiliki Murid</h7>
                    <a class="btn border border-primary d-flex justify-content-center" href="/teacher/dashboard">
                        Kembali Ke
                        Dashboard</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <script src="/js/edit_kegiatan.js">

    </script>

<<<<<<< HEAD
<<<<<<< HEAD
    </body>
=======
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>        

        <script>
        $(document).ready(function () {
            function validationMapel(){
                let mapelValue = $('#mata_pelajaran').val();
                if (mapelValue == '') {
                    $('#mapelcheck').html('mata pelajaran masih kosong');
                    return false
                } else {
                    $('#mapelcheck').html('');
                    return true;
                }
            }

            function validationWaktu(){
                let waktuValue = $('#input_waktu').val();
                if (waktuValue == '') {
                    $('#waktucheck').html('waktu masih kosong');
                    return false
                } else {
                    $('#waktucheck').html('');
                    return true;
                }
            }

            function validationReport(){
                let waktuValue = $('#report_link').val();
                if (waktuValue == '') {
                    $('#linkcheck').html('laporan kegiatan belajar masih kosong');
                    return false
                } else {
                    $('#linkcheck').html('');
                    return true;
                }
            }
            
            $("#save-kegiatan").click( e => {
                e.preventDefault()

                let valid_mapel = validationMapel();
                let valid_waktu = validationWaktu();
                let valid_report = validationReport();

                if( (valid_mapel == true) && (valid_waktu == true) && (valid_report == true) ){
                    let id = document.getElementById("task_id").value
                    $.ajax({
                        url: `/teacher/form_kegiatan/${id}`,
                        type: 'PUT',
                        data: $('form').serialize(),
                        success: res => {
                            alert("Tugas berhasil diedit")
                            window.location.href = res
                        }
                    })
                }else{
                    return false
                }
            })
        });
        </script>

</body>
>>>>>>> 7750b11caa5d55457399379232112fe0c34090fe
=======
    </body>
>>>>>>> 89da26d1f5d3a2140641b02520881d97c48a1bcf

</html>