<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit Profile</title>
</head>

<link rel="stylesheet" href="/css/style.css">
<title>Edit Profile</title>
</head>

<body>
    <!-- sidebar sction -->
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/teacher/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li>
                    <a href="/teacher/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list">
                    <a href="/teacher/ulasan"><i class="ri-chat-quote-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Ulasan</span></a>
                </li class="list">
                <li class="list active">
                    <a href="/teacher/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>
                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/teacher/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- main section -->
    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">
            <p class="page-map mb-4">Profil <span class="page-map-icon">></span> <span class="current-page">Edit
                    Profil</span>
            </p>


            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group mb-3">
                                    <% if (teacher.avatar === undefined || teacher.avatar === null) { %>
                                    <img src="/img/round-avatar-default.png" class="rounded-circle" alt="">
                                    <% } else { %>
                                    <img src="<%=teacher.avatar%>" class="rounded-circle" alt="">
                                    <% } %>
                                </div>
                                <div class="form-group mt-3">                                
                                    <button type="submit" id="save" class="akhir-kerja btn-primary form-control btn mb-2">
                                        Simpan</button>
                                    <a href="/teacher/profil" type="button"
                                        class="btn btn-outline-secondary form-control btn mb-3">Batal</a>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input name="id" id="id" type="hidden" value="<%=teacher.id%>">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Link Foto Profil</label>
                                    <input type="text" class="form-control" id="avatar" name="avatar"
                                        placeholder="Link Foto Profil" value="<%=teacher.avatar%>">
                                    <small id="avatarcheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nama</label>
                                    <input type="text" class="form-control" id="nama" name="nama"
                                        placeholder="Nama Anda" value="<%=teacher.nama%>">
                                    <small id="namacheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="contoh : namakamu@gmail.com" value="<%=teacher.email%>">
                                    <small id="emailvalid" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Link WhatsApp</label>
                                    <input type="text" class="form-control" id="no_telfon" name="no_telfon"
                                        placeholder="Link WhatsApp Anda" value="<%=teacher.no_telfon%>">
                                    <small id="wacheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Harga Jasa (Rupiah)</label>
                                    <input type="number" class="form-control" id="biaya" name="biaya"
                                        placeholder="Harga Jasa Anda" value="<%=teacher.biaya%>">
                                    <small id="biayacheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Metodologi</label>
                                    <textarea class="form-control" id="metodologi" name="metodologi"
                                        rows="4"><%=teacher.metodologi%></textarea>
                                    <small id="metodologicheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Latar Belakang</label>
                                    <textarea class="form-control" id="latar_belakang" name="latar_belakang"
                                        rows="4"><%=teacher.latar_belakang%></textarea>
                                    <small id="latarcheck" style="color: red;">
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="provinsi-list">Provinsi</label>
                                    <select class="form-control" id="provinsi-list" required>
                                        <option selected>--<%=teacher.provinsi%>--</option>
                                    </select>
                                </div>
                                <input name="provinsi" type="text" id="destination-provinsi" hidden>
                                <input id="prov_temp" type="hidden" value="<%=teacher.provinsi%>">

                                <div class="form-group">
                                    <label for="kabupaten-list">Kota/Kabupaten</label>
                                    <select class="form-control" id="kabupaten-list" disabled>
                                        <option selected>--<%=teacher.kabupaten%>--</option>
                                    </select>
                                </div>
                                <input name="kabupaten" type="text" id="destination-kabupaten" hidden>
                                <input id="kab_temp" type="hidden" value="<%=teacher.kabupaten%>">

                                <div class="form-group">
                                    <label for="kecamatan-list">Kecamatan</label>
                                    <select class="form-control" id="kecamatan-list" disabled>
                                        <option selected>--<%=teacher.kecamatan%>--</option>
                                    </select>
                                </div>
                                <input name="kecamatan" type="text" id="destination-kecamatan" hidden>
                                <input id="kec_temp" type="hidden" value="<%=teacher.kecamatan%>">

                                <div class="form-group">
                                    <label for="kelurahan-list">Kelurahan</label>
                                    <select class="form-control" id="kelurahan-list" disabled>
                                        <option selected>--<%=teacher.kelurahan%>--</option>
                                    </select>
                                </div>
                                <input name="kelurahan" type="text" id="destination-kelurahan" hidden>
                                <input id="kel_temp" type="hidden" value="<%=teacher.kelurahan%>">


                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Alamat</label>
                                    <textarea class="form-control" id="alamat" name="alamat"
                                        rows="3"><%=teacher.alamat%></textarea>
                                    <small id="alamatcheck" style="color: red;">
                                    </small>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Jenis Kursus</label>
                                    <input type="text" class="form-control" placeholder="Pendidikan Anda" value="Privat"
                                        readonly>

                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Kursus yang akan diadakan</label>
                                    <textarea class="form-control" rows="3"
                                        readonly>Di Rumah dan Online dengan Webcam</textarea>

                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Pendidikan</label>
                                    <input type="text" class="form-control" id="pendidikan" name="pendidikan"
                                        placeholder="Pendidikan Anda" value="<%=teacher.pendidikan%>">
                                    <small id="pendidikancheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Mata Pelajaran Yang Diajarkan</label>
                                    <input type="text" class="form-control" id="mata_pelajaran" name="mata_pelajaran"
                                        placeholder="Mata Pelajaran Yang Diajarkan" value="<%=teacher.mata_pelajaran%>">
                                    <small id="mapelcheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Subjek Yang Diajarkan</label>
                                    <input type="text" class="form-control" id="tingkat" name="tingkat"
                                        placeholder="Subjek Yang Diajarkan" value="<%=teacher.tingkat%>">
                                    <small id="tingkatcheck" style="color: red;">
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12 mt-3 d-flex flex-row-reverse">
                                <!-- <div class="form-group">
                                    <a href="/parent/dashboard" class="btn btn-danger mb-2">Cancel</a>
                                    <button type="submit" id="save" class="btn mb-2" style="background-color: #40A8C4; color: white;">Save</button>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script src="/js/edit_teacher.js"></script>
</body>

</html>