<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <title>GuruKu - Dashboard</title>
</head>

<body>

    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/teacher/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list active">
                    <a href="/teacher/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list">
                    <a href="/teacher/ulasan"><i class="ri-chat-quote-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Ulasan</span></a>
                </li class="list">
                <li class="list">
                    <a href="/teacher/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>

                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">
            <h3 class="mb-4 col-12 page-title text-center">Tambah kegiatan</h3>
            <hr>
            <div class="row pl-3">
                <form method="POST" action="/teacher/form_kegiatan">
                    <div class="form-row form-kegiatan">
                        <div class="form-group pr-4 col-md-6 mb-3">
                            <label for="parent_name">Nama Orang Tua</label>
                            <select id="parent_name" class="form-control" onchange="getParentId()">
                                <option disabled selected hidden>Nama Penerima Tugas</option>
                                <% for(const order of orders){ %>
                                <% if(order.status === "hired"){ %>
                                <option value="<%= order.Parent.id %> "><%= order.Parent.nama %> </option>
                                <% } %>
                                <% } %>
                                <input value="" type="text" name="ParentId" id="ParentId" hidden>
                            </select>
                        </div>

                        <div class="form-group pr-4 col-md-6">
                            <label for="hari">Mata Pelajaran</label>
                            <input value="<%= orders[0].Teacher.mata_pelajaran %>" name="mata_pelajaran" type="text"
                                class="form-control" id="mata_pelajaran">
                        </div>

                        <div class="form-group pr-4 col-md-6 mb-3">
                            <label for="option-hari">Hari</label>
                            <select id="option-hari" class="form-control" onchange="getDay()">
                                <option disabled selected hidden>Pilih hari</option>
                                <option value="Senin">Senin</option>
                                <option value="Selasa">Selasa</option>
                                <option value="Rabu">Rabu</option>
                                <option value="Kamis">Kamis</option>
                                <option value="Jumat">Jumat</option>
                                <option value="Sabtu">Sabtu</option>
                                <input value="" type="text" name="input_hari" id="input_hari" hidden>
                            </select>
                        </div>
                        <div class="form-group pr-4 col-md-6">
                            <label for="input_waktu">Waktu</label>
                            <input name="input_waktu" type="text" class="form-control" id="input_waktu" placeholder="contoh: 12.00 - 13.00 WIB">
                        </div>
                        <div class="form-group pr-4 col-12">
                            <label for="report_link">Laporan Kegiatan Belajar</label>
                            <input name="report_link" type="text" class="form-control" id="report_link" placeholder="cantumkan link laporan disini, contoh: https://www.docs.com/.....">
                        </div>
                    </div>

                    
                    <a type="button" class="btn btn-outline-secondary mr-2" href="/teacher/kegiatan">Batal</a>
                    <button onclick="successMsg()" type="submit" class="btn btn-primary">Buat <ton>
                </form>

            </div>
        </div>


        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="services">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="d-flex justify-content-center">Maaf</h5>
                        <br><br><br>
                        <h7 class="d-flex justify-content-center m-3">Anda Belum Memiliki Murid</h7>
                        <a class="btn border border-primary d-flex justify-content-center" href="/teacher/dashboard">
                            Kembali Ke
                            Dashboard</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>

        <script src="/js/form_kegiatan.js">

        </script>

</body>

</html>