<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ulasan.css">


    <title>Board Teacher - Dashboard</title>
</head>

<body>

    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/teacher/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list">
                    <a href="/teacher/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li class="list">
                <li class="list active">
                    <a href="/teacher/ulasan"><i class="ri-chat-quote-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Ulasan</span></a>
                </li>
                <li class="list">
                    <a href="/teacher/profil"><i class="ri-user-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>
                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/teacher/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>
    
    <% if(rates.length == 0){ %>
    <div id="ulasan" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <h3 class="mb-5">Daftar Ulasan</h3>
        <br><br><br>
        <div class="container">
            <img src="/img/ulasan-null.png" class="ulasan" alt="...">
            <p>Belum ada ulasan yang diberikan</p>
        </div>
    </div>
    <% }else{ %>
    <div id="ulasan2" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <h3 class="mt-4 ml-4">Daftar Ulasan</h3>
        <br>
        <div class="container"></div>
            <div class="row">
            <% for(const rate of rates){ %>
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="row mt-2 ml-2 ">
                            <div class="col-sm-4">
                                
                                <% if (rate.Parent.avatar === undefined || rate.Parent.avatar === null) { %>
                                    <img src="/img/round-avatar-default.png" class="rounded-circle" alt="" style="width: 90%;">                                    
                                     <% } else { %>                                      
                                    <img src="<%=rate.Parent.avatar%>" class="rounded-circle" alt="">  
                                    <% } %>   
                            </div>
                            <div class="col-sm-8">
                                <h4 class="card-title mt-4"><%= rate.Parent.nama %></h4>
                                <%let bintang = rate.rate%>
                                <%if(bintang == 5 ){%>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <%}else if(bintang == 4){%>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <%}else if(bintang == 3){%>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <%}else if(bintang == 2){%>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <%}else if(bintang == 1){%>
                                <span class="ri-star-fill checked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <span class="ri-star-fill unchecked"></span>
                                <%}%>
                            </div>
                        </div>
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col-sm-11 border-bottom">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body">
                                    <p class="card-text"><%= rate.comment %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }%>
            </div>
    </div>
    <% } %>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>

</body>

</html>